<div class="jumbotron">
  <h1>Geocode Address</h1>
  <p class="lead">
    The main purpose of this app is to geocode any given address and append the <em>logitutde</em> and <em>latitude</em> to the record, then allow the data to be exported in <b>.csv</b> or <b>.xls</b> format.
  </p>

  <p>
    <%= link_to "Import Members »", members_path, class: "btn btn-lg btn-primary" %>
  </p>
</div>