<h1>Geocode App</h1>
<p>
  The main purpose of this app is to geocode any given address and append the
  logitutde and latitude to the record, then allow the data to be exported in
  <b>.csv</b> or <b>.xls</b> format.
</p>