@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin-top: 50px;
}

.pull-center { text-align: center; }
.pull-right { text-align: right; }

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  > .container {
    padding: 30px 15px 0;
  }
}

.container .credit {
  margin: 20px 0;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
  > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.long_lat {
  background: lightgreen;
  padding-left: 8px;
  padding-right: 8px;
}

/* table */
tbody {
  td:nth-child(6),
  td:nth-child(7) {
    color: white;
    background-color: #5cb85c!important;
    &:hover {
      background-color: #4cae4c!important;
    }
  }
}


/* forms */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  // float: left;
  margin-top: 10px;
  @include box_sizing;
}